<div <%= tag.attributes(alert_attributes) %>>
  <% if (@icon || default_icon) && @icon_position == :left %>
    <div class="bui-alert__icon">
      <%= render BetterUi::General::IconComponent.new(name: @icon || default_icon) %>
    </div>
  <% end %>

  <div class="bui-alert__content">
    <% if @title.present? %>
      <div class="bui-alert__title"><%= @title %></div>
    <% end %>
    <div class="bui-alert__message">
      <% if @html_content %>
        <%= raw @message %>
      <% else %>
        <%= @message %>
      <% end %>
    </div>
  </div>

  <% if (@icon || default_icon) && @icon_position == :right %>
    <div class="bui-alert__icon bui-alert__icon--right">
      <%= render BetterUi::General::IconComponent.new(name: @icon || default_icon) %>
    </div>
  <% end %>

  <% if @dismissible %>
    <button type="button" class="bui-alert__close" aria-label="Chiudi">
      <%= render BetterUi::General::IconComponent.new(name: "x", size: :sm) %>
    </button>
  <% end %>
</div>
