<div <%= tag.attributes(avatar_attributes) %>>
  <% if show_image? %>
    <img 
      src="<%= @src %>" 
      alt="<%= @name || 'Avatar' %>" 
      class="bui-avatar__img"
      width="<%= pixel_size %>"
      height="<%= pixel_size %>"
    >
  <% else %>
    <div class="bui-avatar__placeholder">
      <%= initials %>
    </div>
  <% end %>

  <% if show_status? %>
    <span class="<%= status_indicator_classes %>"></span>
  <% end %>
</div> 
