<span <%= badge_attributes.to_s.html_safe %>>
  <% if @icon && @icon_position == :left %>
    <span class="<%= icon_classes %>">
      <%= render_icon(@icon) %>
    </span>
  <% end %>
  
  <% if @label.present? %>
    <span class="<%= text_classes %>"><%= @label %></span>
  <% end %>
  
  <% if @icon && @icon_position == :right %>
    <span class="<%= icon_classes %>">
      <%= render_icon(@icon) %>
    </span>
  <% end %>
  
  <%= content %>
</span> 