<div class="<%= container_classes %>">
  <%# Utilizzo di tag heading dinamico in base al livello specificato %>
  <<%= "h#{@level}" %> class="<%= heading_classes %>">
    <% if @icon.present? %>
      <span class="bui-header-icon-container">
        <span class="bui-header-icon-wrapper">
          <%= render BetterUi::General::IconComponent.new(name: @icon, size: get_icon_size) %>
        </span>
        <%= @text || content %>
      </span>
    <% else %>
      <%= @text || content %>
    <% end %>
  </<%= "h#{@level}" %>>
  
  <% if @subtitle.present? %>
    <div class="<%= subtitle_classes %>">
      <%= @subtitle %>
    </div>
  <% end %>
  
  <% if @with_divider %>
    <div class="<%= divider_classes %>"></div>
  <% end %>
</div> 