<% if link? %>
  <%= link_to @href, **link_attributes do %>
    <% if render_icon %>
      <span class="bui-link__icon"><%= render_icon %></span>
    <% end %>
    <span class="bui-link__text"><%= @label %></span>
    <%= content %>
  <% end %>
<% else %>
  <span <%= tag.attributes(link_attributes) %>>
    <% if render_icon %>
      <span class="bui-link__icon"><%= render_icon %></span>
    <% end %>
    <span class="bui-link__text"><%= @label %></span>
    <%= content %>
  </span>
<% end %> 