<div <%= tag.attributes(container_attributes) %>>
  <table <%= tag.attributes(table_attributes) %>>
    <% if @caption.present? %>
      <caption class="<%= caption_classes %>">
        <%= @caption %>
      </caption>
    <% end %>

    <thead class="<%= thead_classes %>">
      <% if @header_rows_partial.present? %>
        <%= render partial: @header_rows_partial, locals: { 
          component: self, 
          headers: headers_for_display 
        } %>
      <% else %>
        <tr>
          <% headers_for_display.each do |header| %>
            <th scope="col" class="<%= th_classes %>">
              <%= header.to_s.humanize %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </thead>

    <tbody class="<%= tbody_classes %>">
      <% @data.each_with_index do |row, index| %>
        <% if @body_row_partial.present? %>
          <%= render partial: @body_row_partial, locals: { 
            component: self, 
            row: row,
            index: index,
            headers: headers_for_display 
          } %>
        <% else %>
          <tr class="<%= tr_classes(index) %>">
            <% headers_for_display.each do |header| %>
              <td class="<%= td_classes %>">
                <%= get_cell_value(row, header) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>

    <% if @footer.present? %>
      <tfoot class="<%= tfoot_classes %>">
        <% if @footer_rows_partial.present? %>
          <%= render partial: @footer_rows_partial, locals: { 
            component: self, 
            footer: @footer, 
            headers: headers_for_display 
          } %>
        <% else %>
          <tr>
            <% @footer.each_with_index do |value, index| %>
              <td class="<%= tf_classes %>">
                <%= value || "—" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tfoot>
    <% end %>
  </table>
</div> 
