<% if render? %>
  <div class="<%= footer_classes %>">
    <% if has_content? %>
      <div class="px-4 py-3 border-t border-gray-200">
        <%= @footer_content %>
      </div>
    <% end %>

    <% if has_user_info? %>
        <%= render BetterUi::General::Dropdown::Component.new(
          trigger: user_dropdown_trigger,
          position: :top,
          fullwidth: true,
          show_chevron: false
        ) do %>
          <% if has_dropdown_items? %>
            <% @dropdown_items.each do |item| %>
              <% if item[:type] == :divider %>
                <%= render BetterUi::General::Dropdown::DividerComponent.new %>
              <% else %>
                <%= render BetterUi::General::Dropdown::ItemComponent.new(
                  text: item[:text],
                  icon: item[:icon],
                  href: item[:href] || '#'
                ) %>
              <% end %>
            <% end %>
          <% end %>

          <% if has_user_dropdown? %>
            <% if has_dropdown_items? %>
              <%= render BetterUi::General::Dropdown::DividerComponent.new %>
            <% end %>
            <% @user_dropdown.each do |item| %>
              <% if item[:type] == :divider %>
                <%= render BetterUi::General::Dropdown::DividerComponent.new %>
              <% else %>
                <%= render BetterUi::General::Dropdown::ItemComponent.new(
                  text: item[:text],
                  icon: item[:icon],
                  href: item[:href] || '#'
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>