<% if @item_type == :section %>
  <!-- Collapsible Section -->
  <div>
    <button 
      type="button" 
      class="<%= button_classes %>"
      data-action="click->bui-sidebar#toggleSection"
      data-bui-sidebar-target="sectionTrigger"
      data-bui-sidebar-section-id="<%= section_id %>"
      aria-expanded="false"
    >
      <div class="flex items-center flex-1">
        <% if icon.present? %>
          <div class="<%= icon_classes %>">
            <%= bui_icon(**icon) %>
          </div>
        <% end %>
        
        <span class="truncate"><%= label %></span>
        
        <% if badge.present? %>
          <div class="ml-auto mr-2">
            <%= bui_badge(**badge) %>
          </div>
        <% end %>
      </div>
      
      <div class="<%= chevron_classes %>" data-bui-sidebar-chevron>
        <%= bui_icon("chevron-right", size: :sm, classes: "text-gray-400") %>
      </div>
    </button>
    
    <% if has_children? %>
      <div 
        id="<%= section_id %>"
        class="<%= children_classes %> hidden"
        data-bui-sidebar-target="sectionContent"
        data-bui-sidebar-section-id="<%= section_id %>"
      >
        <% children.each do |child| %>
          <%= child %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
<li>
  <% if has_children? %>
    <!-- Navigation Item con Children Collapsibili -->
    <button 
      type="button" 
      class="<%= button_classes %>"
      data-action="click->bui-sidebar#toggleSection"
      data-bui-sidebar-target="sectionTrigger"
      data-bui-sidebar-section-id="<%= section_id %>"
      aria-expanded="false"
    >
      <% if has_icon? %>
        <span class="<%= icon_classes %>">
          <%= bui_icon(**@icon) %>
        </span>
      <% end %>
      
      <span class="flex-1"><%= @label %></span>
      
      <% if has_badge? %>
        <span class="ml-auto mr-2">
          <%= bui_badge(**@badge) %>
        </span>
      <% end %>
      
      <div class="<%= chevron_classes %>" data-bui-sidebar-chevron>
        <%= bui_icon("chevron-right", size: :sm, classes: "text-gray-400") %>
      </div>
    </button>
    
    <div 
        id="<%= section_id %>"
        class="<%= children_classes %> hidden"
        data-bui-sidebar-target="sectionContent"
        data-bui-sidebar-section-id="<%= section_id %>"
      >
      <ul class="mt-1 space-y-1">
        <% children.each do |child| %>
          <%= child %>
        <% end %>
      </ul>
    </div>
  <% elsif is_link? %>
    <!-- Navigation Item normale (link) -->
    <%= link_to @href, link_options do %>
      <% if has_icon? %>
        <span class="<%= icon_classes %>">
          <%= bui_icon(**@icon) %>
        </span>
      <% end %>
      
      <span class="flex-1 <%= has_icon? ? '' : 'ml-9' %>"><%= @label %></span>
      
      <% if has_badge? %>
        <span class="ml-auto">
          <%= bui_badge(**@badge) %>
        </span>
      <% end %>
    <% end %>
  <% else %>
    <!-- Navigation Item statico -->
    <div class="<%= item_classes %>">
      <% if has_icon? %>
        <span class="<%= icon_classes %>">
          <%= bui_icon(**@icon) %>
        </span>
      <% end %>
      
      <span class="flex-1"><%= @label %></span>
      
      <% if has_badge? %>
        <span class="ml-auto">
          <%= bui_badge(**@badge) %>
        </span>
      <% end %>
    </div>
  <% end %>
</li>
<% end %>