<div class="bui-sidebar-user">
  <div class="bui-sidebar-user__avatar">
    <% if avatar.present? %>
      <img src="<%= avatar %>" alt="<%= name %>" class="bui-sidebar-user__avatar-img">
    <% else %>
      <div class="bui-sidebar-user__avatar-placeholder">
        <%= name.first %>
      </div>
    <% end %>
  </div>
  
  <% unless compact %>
    <div class="bui-sidebar-user__info">
      <div class="bui-sidebar-user__name"><%= name %></div>
      <% if email.present? %>
        <div class="bui-sidebar-user__email"><%= email %></div>
      <% end %>
      <% if role.present? %>
        <div class="bui-sidebar-user__role"><%= role %></div>
      <% end %>
    </div>
  <% end %>
  
  <%= content %>
</div> 