<%
  bg_classes = {
    default: "bg-black",
    white: "bg-white",
    red: "bg-red-500",
    rose: "bg-rose-500",
    orange: "bg-orange-500",
    green: "bg-green-500",
    blue: "bg-blue-500",
    yellow: "bg-yellow-500",
    violet: "bg-violet-500"
  }
%>

<div class="space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% themes.each do |theme_data| %>
      <div class="p-1">
        <h3 class="text-lg font-medium mb-2"><%= theme_data[:label] %></h3>
        <div class="<%= bg_classes[theme_data[:theme]] %> p-6 rounded-md">
          <div class="space-y-4">
            <%= render BetterUi::General::LinkComponent.new(
              label: "Link standard",
              href: "#",
              theme: theme_data[:theme]
            ) %>
            
            <div>
              <%= render BetterUi::General::LinkComponent.new(
                label: "Link con icona",
                href: "#",
                theme: theme_data[:theme],
                icon: "link"
              ) %>
            </div>
            
            <div>
              <%= render BetterUi::General::LinkComponent.new(
                label: "Link attivo",
                href: "#",
                theme: theme_data[:theme],
                active: true
              ) %>
            </div>
            
            <div>
              <%= render BetterUi::General::LinkComponent.new(
                label: "Solo testo",
                theme: theme_data[:theme]
              ) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 