<div class="bui-card-base <%= get_border_radius_class %> px-4 py-5 sm:p-6">
  <dt class="bui-card-title text-gray-900"><%= title %></dt>
  <dd class="bui-card-body mt-1 flex items-baseline justify-between md:block lg:flex">
    <div class="flex items-baseline">
      <span class="bui-card-value text-indigo-600"><%= value %></span>
      <span class="bui-card-value-from ml-2">from <%= value_from %></span>
    </div>

    <div class="bui-card-trend <%= trend_classes %>">
      <% if trend_type == :up %>
        <svg class="mr-0.5 -ml-1 size-5 shrink-0 self-center <%= trend_icon_classes %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V5.612L5.29 9.77a.75.75 0 0 1-1.08-1.04l5.25-5.5a.75.75 0 0 1 1.08 0l5.25 5.5a.75.75 0 1 1-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0 1 10 17Z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Incremento di</span>
      <% else %>
        <svg class="mr-0.5 -ml-1 size-5 shrink-0 self-center <%= trend_icon_classes %>" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v10.638l3.96-4.158a.75.75 0 1 1 1.08 1.04l-5.25 5.5a.75.75 0 0 1-1.08 0l-5.25-5.5a.75.75 0 1 1 1.08-1.04l3.96 4.158V3.75A.75.75 0 0 1 10 3Z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Decremento di</span>
      <% end %>
      <%= trend_value %>
    </div>
  </dd>
</div> 