<%= render BetterUi::General::Tabs::Component.new(
  variant: variant,
  theme: theme,
  size: size,
  orientation: orientation,
  navigation_classes: navigation_classes,
  panels_classes: panels_classes
) do |tabs| %>
  <% tabs.with_navigation do %>
    <%= render BetterUi::General::Tabs::TabComponent.new(text: "Tab 1", target: "tab1", active: true) %>
    <%= render BetterUi::General::Tabs::TabComponent.new(text: "Tab 2", target: "tab2") %>
    <%= render BetterUi::General::Tabs::TabComponent.new(text: "Tab 3", target: "tab3") %>
  <% end %>
  
  <% tabs.with_panels do %>
    <%= render BetterUi::General::Tabs::PanelComponent.new(id: "tab1", active: true, classes: "p-4 bg-gray-50 rounded-lg") do %>
      <p class="text-gray-900">Contenuto del primo pannello</p>
    <% end %>
    
    <%= render BetterUi::General::Tabs::PanelComponent.new(id: "tab2", classes: "p-4 bg-gray-50 rounded-lg") do %>
      <p class="text-gray-900">Contenuto del secondo pannello</p>
    <% end %>
    
    <%= render BetterUi::General::Tabs::PanelComponent.new(id: "tab3", classes: "p-4 bg-gray-50 rounded-lg") do %>
      <p class="text-gray-900">Contenuto del terzo pannello</p>
    <% end %>
  <% end %>
<% end %>
