<%# Template per il heading %>
<div class="<%= container_classes %>">
  <%= tag.public_send(heading_tag, **heading_attributes) do %>
    <% if show_icon? %>
      <span class="<%= icon_classes %>">
        <%= bui_icon(@icon, size: icon_size, classes: "flex-shrink-0 #{icon_color_class}") %>
      </span>
    <% end %>
    
    <span><%= content %></span>
  <% end %>
  
  <% if show_subtitle? %>
    <div class="<%= subtitle_classes %>">
      <%= @subtitle %>
    </div>
  <% end %>
  
  <% if show_divider? %>
    <div class="<%= divider_classes %>"></div>
  <% end %>
</div>
