<div <%= tag.attributes(alert_attributes) %>>
  <% if (@icon.blank? ? default_icon : @icon) && @icon_position == :left %>
    <div class="<%= get_icon_classes %> <%= get_icon_theme_class %>">
      <%= render BetterUi::General::Icon::Component.new(name: @icon.blank? ? default_icon : @icon) %>
    </div>
  <% end %>

  <div class="<%= get_content_classes %>">
    <% if @title.present? %>
      <div class="<%= ALERT_TITLE_CLASSES %>"><%= @title %></div>
    <% end %>
    <div class="<%= ALERT_MESSAGE_CLASSES %>">
      <% if @html_content %>
        <%= raw @message %>
      <% else %>
        <%= @message %>
      <% end %>
    </div>
  </div>

  <% if (@icon.blank? ? default_icon : @icon) && @icon_position == :right %>
    <div class="<%= get_icon_classes %> <%= get_icon_theme_class %>">
      <%= render BetterUi::General::Icon::Component.new(name: @icon.blank? ? default_icon : @icon) %>
    </div>
  <% end %>

  <% if @dismissible %>
    <button type="button" class="<%= get_close_classes %>" aria-label="Chiudi">
      <%= render BetterUi::General::Icon::Component.new(name: "x", size: :sm) %>
    </button>
  <% end %>
</div>
