<%= bui_modal(
  close_on_backdrop: close_on_backdrop,
  close_on_escape: close_on_escape,
  lock_scroll: lock_scroll
) do |modal| %>
  <% modal.with_trigger do %>
    <%= bui_button(
      label: trigger_label, 
      type: trigger_type, 
      data: { action: "click->bui-modal#open" }
    ) %>
  <% end %>
  
  <% modal.with_modal do %>
    <%= render BetterUi::General::Modal::ModalComponent.new(
      title: modal_title,
      theme: modal_theme,
      size: modal_size,
      backdrop: modal_backdrop,
      closable: modal_closable
    ) do %>
      <div class="space-y-4">
        <p class="text-gray-700">
          Sei sicuro di voler eliminare questo elemento?
        </p>
        <p class="text-sm text-gray-600">
          Questa azione non può essere annullata.
        </p>
        
        <div class="flex justify-end space-x-3 pt-4 border-t border-gray-200">
          <%= bui_button(label: "Annulla", type: :white) %>
          <%= bui_button(label: "Elimina", type: :red) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
