<main class="pt-[77px] <%= main_classes %>" <%= @html_options.except(:class).map { |k, v| "#{k}=\"#{v}\"" }.join(' ').html_safe %>>
  <div class="<%= inner_classes %>">
    <div class="<%= content_classes %>">
      <div class="h-full overflow-y-auto scrollbar-hide">
        <%= content %>
      </div>
    </div>
  </div>
</main>
