<div class="relative inline-block <%= @classes %>" 
     data-controller="bui-dropdown" 
     data-bui-dropdown-open-value="false"
     <%= tag.attributes(@html_options.except(:class)) %>>
  
  <button type="button"
          class="inline-flex items-center justify-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors <%= dynamic_trigger_classes %>"
          data-bui-dropdown-target="trigger"
          data-action="click->bui-dropdown#toggle keydown->bui-dropdown#keydown"
          aria-expanded="false"
          aria-haspopup="true">
    <%= @trigger %>
    <%= bui_icon("chevron-down", size: :small, classes: "ml-2 -mr-1") %>
  </button>

  <div class="absolute z-50 mt-2 origin-top-right bg-white border border-gray-200 shadow-lg focus:outline-none <%= dynamic_menu_classes %>"
       data-bui-dropdown-target="menu"
       role="menu"
       aria-orientation="vertical"
       style="display: none;">
    <div class="py-1" role="none" data-action="click->bui-dropdown#itemClick">
      <%= content %>
    </div>
  </div>
</div>
