<div class="relative <%= @classes %> <%= fullwidth_classes %>" 
     data-controller="bui-dropdown" 
     data-bui-dropdown-open-value="false"
     data-bui-dropdown-selectable-value="<%= @selectable.to_s %>"
     <%= tag.attributes(@html_options.except(:class)) %>>
  
  <button type="button"
          class="items-center border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors <%= dynamic_trigger_classes %> <%= fullwidth_classes %>"
          data-bui-dropdown-target="trigger"
          data-action="click->bui-dropdown#toggle keydown->bui-dropdown#keydown"
          aria-expanded="false"
          aria-haspopup="true">
    <%= @trigger %>
    <% if @show_chevron %>
      <%= bui_icon("chevron-down", size: :small, classes: "ml-2 -mr-1") %>
    <% end %>
  </button>

  <div class="absolute z-[1000] my-2 origin-top-right bg-white border border-gray-200 shadow-lg focus:outline-none <%= dynamic_menu_classes %> <%= fullwidth_classes %>"
       data-bui-dropdown-target="menu"
       role="menu"
       aria-orientation="vertical"
       style="display: none;">
    <div class="py-1" role="none" data-action="click->bui-dropdown#itemClick">
      <%= content %>
    </div>
  </div>
</div>
