<header <%= tag.attributes(wrapper_attributes) %>>
  <div class="flex items-center h-full justify-between">
    <!-- Left side - custom content-->
    <div class="flex items-center">
      <%= content %>
    </div>

    <!-- Right side - actions, avatar, dropdown, icon buttons -->
    <% if has_right_section? %>
      <div class="flex items-center space-x-3">
        <!-- Legacy actions -->
        <% if has_actions? %>
          <% actions.each do |action| %>
            <div class="flex-shrink-0">
              <%= render_action_content(action) %>
            </div>
          <% end %>
        <% end %>
        
        <!-- Icon buttons -->
        <% if has_icon_buttons? %>
          <div class="flex items-center space-x-2">
            <% icon_buttons.each do |icon_button| %>
              <div class="flex-shrink-0">
                <%= icon_button %>
              </div>
            <% end %>
          </div>
        <% end %>
        
        <!-- Avatar -->
        <% if has_avatar? %>
          <div class="flex-shrink-0">
            <%= avatar %>
          </div>
        <% end %>
        
        <!-- User dropdown -->
        <% if has_user_dropdown? %>
          <div class="flex-shrink-0">
            <%= user_dropdown %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
