<!DOCTYPE html>
<html>
<head>
  <title>BetterUI - <%= yield(:title) || 'Componenti UI per Rails' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if defined?(main_app) %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
  <% else %>
    <%= stylesheet_link_tag "better_ui/application" %>
  <% end %>
</head>

<body class="font-sans text-gray-800 leading-normal m-0 p-0 bg-gray-50">
  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <%= render 'better_ui/sidebar' %>
    
    <!-- Contenuto principale -->
    <div class="ml-72 p-8 flex-grow">
      <div class="bg-white rounded-lg shadow-sm p-8 max-w-4xl">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
